<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Оформление заказа</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in  form %}
            {{ field.errors }}
            {{ field.label_tag }}
            <p>{{ field }}</p>
        {% endfor %}
        {{ form.addresses.management_form }}
        <h3>Добавьте адреса пункта выдачи</h3>
        
        {% for address in form.addresses %}
            {{ address.errors }}
            {{ address.title.label_tag}}
            <p>{{ address.errors }}</p>
            <p>{{ address.title }}</p>
        {% endfor %}
            
     <button type="submit">Оформить заказ</button>       
    </form>
</body>
</html>