<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Описание закаэа</h1>
    <p>Наименование товара: {{ order.product_name }}</p>
    <p>Тип товара: {{ order.product_type }}</p>
    <p>Дата доставки: {{ order.delivery_date }}</p>
    <h3>Адресв пунктов выдачи</h3>
    
    {% for address in order.addresses.all %}
        <p>{{ address.title }}</p>
    {% endfor %}
        
    <a href="{{ order.addresses_file.url }}" download>Адреса пункта выдачи</a>
    <p>Дата создания заказа: {{ order.create_at }}</p>
</body>
</html>
